<form (submit)="submit()">
  @if (description) {
    <p class="popup-description">{{ description }}</p>
  }
  @if (type==='textarea') {
    <textarea nz-input [formControl]="control" rows="5" [placeholder]="placeholder" class="text-area"
      >
    </textarea>
  }
  @if (type==='input') {
    <input type="text" nz-input [formControl]="control" [placeholder]="placeholder" class="text-area"
      />
  }
  <button nz-button [disabled]="!control.valid" nzType="primary"
    type="submit">Submit
  </button>
</form>
