<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    (nzCollapsedChange)="saveCollapsed($event)">
    <div class="sidebar-logo">
      <img src="./assets/logo.png" alt="logo">
      <h1>Lost Ark Checklist</h1>
    </div>
    <div class="sidebar-container">
      <div class="main-navbar">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu nzTitle="Helpers" nzIcon="appstore" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/checklist" [nzPaddingLeft]="32">
                  <span nz-icon nzType="check-square" nzTheme="outline"></span>
                  <span>Checklist</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/gold-planner" [nzPaddingLeft]="32">
                  <span nz-icon nzType="gold" nzTheme="outline"></span>
                  <span>Gold Planner</span>
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Configuration" nzIcon="setting" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/roster" [nzPaddingLeft]="32">
                  <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                  <span>Roster</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/tasks-manager" [nzPaddingLeft]="32">
                  <span nz-icon nzType="solution" nzTheme="outline"></span>
                  <span>Tasks Manager</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/settings" [nzPaddingLeft]="32">
                  <span nz-icon nzType="setting" nzTheme="outline"></span>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="bottom-navbar">
        <div class="github-menu-entry" [class.collapsed]="isCollapsed">
          <a href="https://github.com/shotgun175/LostArk-Checklist" target="_blank">
            <span nz-icon nzType="github" nzTheme="outline" class="icon"></span>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="user-menu" [class.anonymous]="anonymous$ | async" nz-dropdown [nzDropdownMenu]="menu"
        nzOverlayClassName="user-menu">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        @if (user$ | async; as user) {
          @if (user.notFound) {
            Anonymous
          }
          @if (!user.notFound) {
            {{user.name}}
          }
        }
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            @if (anonymous$ | async) {
              <li nz-menu-item class="menu-item" (click)="signIn()">
                <span nz-icon nzType="login" nzTheme="outline"></span>
                Sign in
              </li>
              <li nz-menu-item class="menu-item" (click)="register()">
                <span nz-icon nzType="form" nzTheme="outline"></span>
                Register
              </li>
            }
            @if ((anonymous$ | async) === false) {
              @if (user$ | async; as user) {
                <li nz-menu-item (click)="updateUserName(user)" class="menu-item">
                  <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                  Change user name
                </li>
              }
              <li nz-menu-item nzDanger (click)="disconnect()" class="menu-item">
                <span nz-icon nzType="logout" nzTheme="outline"></span>
                Log out
              </li>
            }
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        @if ((anonymous$ | async) && !guestBannerDismissed()) {
          <nz-alert class="guest-banner" nzType="warning" nzShowIcon nzCloseable
                    [nzMessage]="guestBannerText" [nzAction]="guestBannerAction"
                    (nzOnClose)="dismissGuestBanner()"></nz-alert>
          <ng-template #guestBannerAction>
            <button nz-button nzSize="small" nzType="primary" (click)="register()">Register</button>
          </ng-template>
        }
        <router-outlet></router-outlet>
      </div>
      <footer class="app-footer">
        <span>Fan-made tool, not affiliated with or endorsed by Smilegate or Amazon Games. Lost Ark names and icons belong to their owners.</span>
        <span>This site is protected by reCAPTCHA.</span>
        <a routerLink="/privacy">Privacy</a>
      </footer>
    </nz-content>
  </nz-layout>
</nz-layout>
