<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    [class.phone]="isPhone()"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzCollapsedWidth]="isPhone() ? 0 : 80"
    [nzTrigger]="isPhone() ? null : siderTrigger"
    (nzCollapsedChange)="saveCollapsed($event)">
    <div class="sidebar-logo">
      <img src="./assets/logo.png" alt="logo">
      <h1>Lost Ark Checklist</h1>
    </div>
    <div class="sidebar-container">
      <div class="main-navbar">
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed && !isPhone()" (nzClick)="closeSiderOnPhone()">
          <li nz-submenu nzTitle="Helpers" nzIcon="appstore" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/checklist" [nzPaddingLeft]="32">
                  <span nz-icon nzType="check-square" nzTheme="outline"></span>
                  <span>Checklist</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/gold-planner" [nzPaddingLeft]="32">
                  <span nz-icon nzType="gold" nzTheme="outline"></span>
                  <span>Gold Planner</span>
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Configuration" nzIcon="setting" nzOpen>
            <ul>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/roster" [nzPaddingLeft]="32">
                  <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                  <span>Roster</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/tasks-manager" [nzPaddingLeft]="32">
                  <span nz-icon nzType="solution" nzTheme="outline"></span>
                  <span>Tasks Manager</span>
                </a>
              </li>
              <li>
                <a nz-menu-item nzMatchRouter routerLink="/settings" [nzPaddingLeft]="32">
                  <span nz-icon nzType="setting" nzTheme="outline"></span>
                  <span>Settings</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="bottom-navbar">
        <div class="github-menu-entry" [class.collapsed]="isCollapsed && !isPhone()">
          <a href="https://github.com/shotgun175/LostArk-Checklist" target="_blank" rel="noopener noreferrer"
             aria-label="GitHub repository (opens in a new tab)">
            <span nz-icon nzType="github" nzTheme="outline" class="icon"></span>
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>
    <ng-template #siderTrigger>
      <button type="button" class="sider-trigger-button" [attr.aria-label]="isCollapsed ? 'Expand sidebar' : 'Collapse sidebar'"
              [attr.aria-expanded]="!isCollapsed">
        <span nz-icon [nzType]="isCollapsed ? 'right' : 'left'"></span>
      </button>
    </ng-template>
  </nz-sider>
  @if (isPhone() && !isCollapsed) {
    <button type="button" class="sider-backdrop" aria-label="Close menu" (click)="closeSiderOnPhone()"></button>
  }
  <nz-layout>
    <nz-header>
      @if (isPhone()) {
        <button type="button" class="header-menu-button" aria-label="Open menu" [attr.aria-expanded]="!isCollapsed" (click)="openSider()">
          <span nz-icon nzType="menu"></span>
        </button>
      }
      <button #userMenuButton type="button" class="user-menu" [class.guest]="anonymous$ | async"
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight" nzOverlayClassName="user-menu-overlay"
        aria-haspopup="menu" (nzVisibleChange)="onUserMenuVisibleChange($event, userMenuButton)">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        @if (user$ | async; as user) {
          @if (anonymous$ | async) {
            <span class="user-name">Guest</span>
          } @else {
            <span class="user-name" [title]="user.name">{{user.name}}</span>
          }
        }
        <span nz-icon nzType="down" class="caret"></span>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          @if (anonymous$ | async) {
            <li nz-menu-item class="menu-item" tabindex="-1" (click)="signIn()" (keydown)="onUserMenuKeydown($event)">
              <span nz-icon nzType="login" nzTheme="outline"></span>
              Sign in
            </li>
            <li nz-menu-item class="menu-item" tabindex="-1" (click)="register()" (keydown)="onUserMenuKeydown($event)">
              <span nz-icon nzType="form" nzTheme="outline"></span>
              Register
            </li>
          }
          @if ((anonymous$ | async) === false) {
            @if (user$ | async; as user) {
              <li nz-menu-item class="menu-item" tabindex="-1" (click)="updateUserName(user)" (keydown)="onUserMenuKeydown($event)">
                <span nz-icon nzType="user-switch" nzTheme="outline"></span>
                Change user name
              </li>
            }
            <li nz-menu-item nzDanger class="menu-item" tabindex="-1" (click)="disconnect()" (keydown)="onUserMenuKeydown($event)">
              <span nz-icon nzType="logout" nzTheme="outline"></span>
              Log out
            </li>
          }
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        @if ((anonymous$ | async) && !guestBannerDismissed()) {
          <nz-alert class="guest-banner" nzType="warning" nzShowIcon nzCloseable
                    [nzMessage]="guestBannerText" [nzAction]="guestBannerAction"
                    (nzOnClose)="dismissGuestBanner()"></nz-alert>
          <ng-template #guestBannerAction>
            <button nz-button nzSize="small" nzType="primary" (click)="register()">Register</button>
          </ng-template>
        }
        <router-outlet></router-outlet>
      </div>
      <footer class="app-footer">
        <span>Fan-made tool, not affiliated with or endorsed by Smilegate or Amazon Games. Lost Ark names and icons belong to their owners.</span>
        <span>This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" target="_blank" rel="noopener">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank" rel="noopener">Terms of Service</a> apply.</span>
        <a routerLink="/privacy" class="privacy-link">Privacy</a>
      </footer>
    </nz-content>
  </nz-layout>
</nz-layout>
